<section id="side-bar" class="grid-x">
    <div class="cell small-12 flex-container flex-dir-column">
        <div class="callout primary flex-child-shrink">
            <ul class="menu">
                <li>
                    <img style="width: 50px;height: 50px;border-radius: 50%;" src="assets/images/92933015-male-user-icon-with-long-shadow-on-white-background.jpg" alt="comapny">
                </li>
                <li><a href="#" style="padding-top: 18px;">Any Store</a></li>
            </ul>
        </div>
        <div class=" primary flex-child-auto">
            <ul class="menu vertical">
                <li><a href="#">Home</a></li>
                <li><a href="#">Inventory</a></li>
            </ul>
        </div>
        <div class=" primary flex-child-shrink" dir="rtl">
            <img src="assets/icons/Screenshot 2022-04-08 151805.png" alt="">
        </div>
      </div>
</section>
