section#side-bar{
    height: 100%;
    background: #2d3652;
    .callout{
        background: #2d3652;
        border-bottom-color:gray;
        // padding-top: 30px;
        // padding-bottom: 30px;
    }
    .menu{
        padding: 0px 10px;
    }
    .menu>li>a{
        color: white;
    }
    .vertical{
        li{
            border-radius: 30px;
            :hover{
                background-color: #fcd844 !important;
                border-radius: 30px;
                color: #2d3652;
            }
            :focus{
                background-color: #fcd844 !important;
                border-radius: 30px;
                color: #2d3652;
            }
        }
    }
}